.menu {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__price {
    text-align: end;
  }
  .item {
    flex-basis: 150px;
    &--right {
      padding-right: .5rem;
      text-align: end;
    }
  }
}
