@import "../styles/variables.scss";
@import "../styles/helpers.scss";

.add-people {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 120px;
  }

  &__count {
    color: $dark-orange;
  }

  .btn {
    line-height: 30px;
    height: 30px;
    width: 30px;

    &--right {
      line-height: 20px;
    }
  }
}
