.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btn {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  &--up {
    border-radius: 10px 10px 3px 3px;
  }
  &--down {
    border-radius: 3px 3px 10px 10px;
  }
  &--left {
    border-radius: 10px 3px 3px 10px;
  }
  &--right {
    border-radius: 3px 10px 10px 3px;
  }
  &--orange {
    background-color: $base-orange;
    color: $white;
    font-size: 2rem;
  }
  &--green {
    background-color: $base-green;
    color: $white;
    font-size: 2rem;
  }
}
